[data-menu="list"] {
    position: relative;
    z-index: 50;
}
[data-dropdown] ul{
    position: absolute;
    /* z-index: 50; */
    flex-direction: column;
    background: #e54;
    border: 2px solid black;
    padding: 10px;
    display: none;
}

[data-dropdown]:hover ul,
[data-dropdown].ativo ul {
    display: block;
}

[data-dropdown] ul li:hover {
    color: #fff;
}

[data-dropdown] ul::before {
    content: '';
    display: block;
    height: 0px;
    width: 0px;
    border-bottom: 10px solid #e54;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
}

[data-animation="show-top"] {animation: forwards show-top .3s;}
@keyframes show-top {
    from {
        opacity: 0;
        transform: translate3d(0,30px,0);
    } 
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@media (max-width: 700px) {
    [data-dropdown] ul {
      display: block;
    }
}